/* General CSS starts here*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');


*{
    box-sizing:border-box
}

body{
 background-color: rgb(237, 222, 203);
 padding: 0;
 margin: 0;
}

nav{
    display:flex;
    justify-content: center;
}

nav a{
text-decoration: none;
color: rgb(83, 104, 83);
margin: 20px;
font-size: 23px;
}

footer{
    background-color: rgb(83, 104, 83);
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}

footer a{
    color: rgb(237, 222, 203);
    padding: 20px;
}

.newsletter-title{
    display: flex;
    color: rgb(237, 222, 203);
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 38px;
    position: relative;
    justify-content: center;
}

.newsletter-description{
    color: rgb(237, 222, 203);
    font-size: 22px;
}

.newsletter-subscription{
    margin-bottom: 50px;
}

.footer-links{
    margin-bottom: 50px;
}

.subscribe-field{
    height: 40px;
    width: 300px;
}

.subscribe-button{
    padding: 5px;
    height: 40px;
    margin-left: -5px;
    color: black;
    
}

.subscribe-button:hover {
    background-color: rgb(237, 222, 203);
    color: black;
}



/* CSS for Home page starts here */

.business-title{
    display: flex;
    color: rgb(83, 104, 83);
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 60px;
    position: relative;
    justify-content: center;
} 


.slideshow{
    overflow: hidden;
    height: 800px;
   
}


.slideshow figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    animation: 10s slideshow infinite;
}

.slideshow figure img{
    float: left;
    width: 33.33%;
}

@keyframes slideshow{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%
    }
    45% {
        left: -100%
    }
    50% {
        left: -200%
    }
    70% {
        left: -200%
    }
    
    
}

.about{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 40px;
    color: rgb(83, 104, 83);
    border: 10px double rgb(83, 104, 83);
    padding: 10px;
    margin: 100px auto;
    max-width: 99.8%;
    justify-content: center;
}


.center-grid-container{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    margin-top: 100px;
    max-width: 90%;
}

.grid-card{
    align-items: center;
    max-width: 500px;
}

.card-image{
    height: 300px;
    width: 500px;
}

.content-title{
    color: rgb(83, 104, 83);
    font-family: 'Shadows Into Light Two';
    font-size: 35px;
}

.content{
    color: rgb(83, 104, 83);
    font-size: 22px;
}



/*Product Page CSS Starts here*/

.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    max-width: 100%;
    margin: 10px auto;
    
}

.center-grid{
    max-width: 90%;
    margin: 100px auto;
    
}

.product-card{
   text-align: center;
   width: 90%;
   box-shadow: .3rem .3rem 2rem rgb(64, 60, 60);
   padding-bottom: 15px;
   
}

.product-description{
    padding: 10px;
    font-size: 22px;
}

.product-title{
    font-size: 28px;
}

.product-price{
    font-size: 22px;
}

.product-img{
    width: 100%;
    height: auto;
}


.atc-button{
    border-radius: 10px;
    padding: 5px;
}

.atc-button:hover {
    background-color: rgb(83, 104, 83);
    color: white;

}

.atc-button:active {
  background-color: rgb(83, 104, 83);
  box-shadow: 0 5px rgb(143, 143, 121);
  transform: translateY(4px);
}

/* Contact Form CSS starts here */


.contact-form{
    width: 600px;
    height: 550px;
    background-image: url(images/monstera-rain.jpeg);
    padding: 10px;
    margin: 100px auto;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 2rem 2rem 5rem rgb(64, 60, 60);
    
}

form{
    width: 350px;
    margin: -40px 100px;
    text-align: center;
}

.contact-title{
    color: white;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
}

.input-label{
    color: white;
    /* font-size: 20px; */
}

.form-section{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    display: block;
    border-radius: 4px;
    margin-bottom: 20px;
    
}


/* media query for tablet */

@media screen and (min-width: 481px) and (max-width: 799px) {
    /* media query css for home page */
    .business-title{
        font-size: 50px;
    }


    .slideshow{
        height: 400px;
    }

    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .card-image{
        width: 400px;
        height: 240px;
    }

    .grid-card{
        width: 400px;
    }


    /* media query css for product page */

    .product-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card{
        margin: 5px auto;
    }


    /* media query css for contact page */

    .contact-form{
        width: 450px;
        display: flex;
    }    
}


/* media query for desktop */

@media screen and (min-width: 800px) and (max-width: 1199px) {
    /* media inquiry css for home page */

    .slideshow{
        height: 400px;
    }

    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .card-image{
        width: 500px;
        height: 300px;
    }

    .grid-card{
        width: 500px;
    }

    /* media query css for product page */

    .product-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card{
        margin: 5px auto;
    }

    .atc-button{
        font-size: 16px;
    }





}

